killswitch=true
allow_subnet=192.168.1.0/24

# PROXY SERVICE TO USE (dante OR 3proxy)
proxy_service=dante

purevpn_username=
purevpn_password=

# VPN GEO (Germany=DE, Argentina=AR)
purevpn_location=DE
