killswitch=true
allow_subnet=192.168.1.0/24

# PROXY SERVICE TO USE (dante OR 3proxy)
proxy_service=dante

purevpn_username=
purevpn_password=

# VPN GEO (comma separated)
purevpn_location=DE,AR

# VPN GEO EXCLUSIONS
purevpn_location_exclude=US,GB

rpc_authentication_required=false
# rpc_username=
# rpc_password=
rpc_whitelist=127.0.0.1,192.168.*.*
